@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome workers</h1>
   
</div>
<figure class="floatright">
    <img src="/images/workers.jpg" alt="workers" width="333" height="156" />
</figure>
