@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h3>Welcome Employees</h3>
        <b></b>
        <p>This page is for employees at the breakfast buffet.</p>
        <img src="images/employees.jpg" alt="employees"/>
    </div>
