@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h3>Welcome Employees</h3>
        <br><br>
        <img src="images/employees.jpg" alt="Home" height="450" width="650" />
        <br><br>
        <p>
            This page is for employees at the breakfast buffet.
            <br><br>
        </p>
    </div>
