@{
    var IsReceptionist = false;
    if (User.HasClaim("Reception", "Yes"))
    {
        IsReceptionist = true;
    }
}

@{
    var IsWaiter = false;
    if (User.HasClaim("Restaurant", "Yes"))
    {
        IsWaiter = true;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment2_Morgenmadsbuffeten</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div id="wrapper">
    <header>
        <h1 height="117" width="619">The Breakfast Buffet</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Kitchen">Kitchen</a></li>
            <li><a asp-controller="ExpectedGuest" asp-action="Index">Reception</a></li>
            @if (IsReceptionist)
            {
                <li>
                    <a asp-controller="ExpectedGuest" asp-action="Create">Add guests</a>
                </li>
            }
            <li><a asp-controller="CheckedInGuest" asp-action="Index">Restaurant</a></li>
            @if (IsWaiter)
            {
                <li>
                    <a asp-controller="CheckedInGuest" asp-action="Create">Check in guests</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        <main id="content">
            @RenderBody()
        </main>
        <div id="footer">
            <small>
                <i>
                    Copyright &copy; 2020 The Breakfast Buffet<br/>
                    <a href="mailto:TheBreakfastBuffet@live.com">TheBreakfastBuffet@live.com</a>
                </i>
            </small>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
