@{
    var IsReceptionist = false;
    if (User.HasClaim("Reception", "Yes"))
    {
        IsReceptionist = true;
    }
}

@{
    var IsWaiter = false;
    if (User.HasClaim("Restaurant", "Yes"))
    {
        IsWaiter = true;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment2_Morgenmadsbuffeten</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Kitchen">Kitchen</a></li>
            <li><a asp-controller="ExpectedGuest" asp-action="Index">Reception</a></li>
            @if (IsReceptionist)
            {
        <li>
            <a asp-controller="ExpectedGuest" asp-action="Create">Add guests</a>
            @*<a asp-controller="CheckedInGuest" asp-action="Index">CheckedInGuests</a>*@
        </li>
            }
            <li><a asp-controller="CheckedInGuest" asp-action="Index">Restaurant</a></li>
            @if (IsWaiter)
            {
                <li>
                    <a asp-controller="CheckedInGuest" asp-action="Create">Check in guests</a>
                </li>
            }
            

        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Assignment2_Morgenmadsbuffeten - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
