@{
    var IsReceptionist = false;
    if (User.HasClaim("Reception", "Yes"))
    {
        IsReceptionist = true;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment2_Morgenmadsbuffeten</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
    
</head>
<body>
<div id="wrapper">
    <header>
        <h1>Breakfast amazing</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/Kitchen">Kitchen</a></li>
            <li><a asp-controller="ExpectedGuest" asp-action="Index">Reception</a></li>

            @if (IsReceptionist)
            {
                <li>
                    <a asp-controller="ExpectedGuest" asp-action="Create">Add guests</a>
                </li>
            }

        </ul>
    </nav>
    <div>
        <main id="content">
            @RenderBody()
        </main>
            
        <footer>
            Copyrigt &copy; 2020 Breakfast amazing <br/>
            <a href="mailto:BreakfastAmazing@nowhere.com">BreakfastAmazing@nowhere.com</a>

        </footer>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
