/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
/*}*

/*Nedestående kode er layoutændringer vi selv har lavet*/
tr:nth-of-type(odd) {
    color: cadetblue;
}
.logoutLabelPosition{
    position:fixed;
    right:10px;
    top:5px; 
}

body {
    margin-bottom: 60px;
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    color: black;
    background-color:lightskyblue;
    text-align: center;
    margin: 5px;
}
h3 {
    color: black;
    text-align: center;
    margin: 0;
}


#content {
    padding: 25px;
}

main {
    padding: 10px 20px 30px;
    margin-left: 200px;
    background-color: aliceblue;
    color: black;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color:azure;
}
img {
    border-style: none;
    text-align: center;
}

nav {
    text-align: left;
    float: left;
    width: 200px;
    padding-top: 30px;
}


nav a {
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;
}

nav a:link {
    color: #996633;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
}
#footer {
    background-color: lightskyblue;
    color: black;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 5px 5px 5px 5px;
}


@media (max-width: 640px) {
    .column {
        float: none;
    }
}

img {
    width: auto;
    height: auto;
}
button {
    text-align: center;
    background-color: cornflowerblue;
    font-size: 10px;
    padding: 10px 24px;
}




