body {
    margin-bottom: 60px;
    background-color: white;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: azure;
    min-width: 0;
    box-shadow: 5px 5px 5px #828282;
}

header {
    background-color: aliceblue;
    color: #000000;
    margin: 0;
    height: 40px;
    
}

h1 {
    margin: 0;
    text-align: center;
    font-size: xx-large;
}

nav {
    text-align: center;
    float: none;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}

    nav a {
        text-decoration: none;
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        border-bottom: 1px solid #330000;
        padding: 0.2em;
        text-align: center;
    }

nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

main {
    padding: 0.5em;
    margin-left: 0;
    background-color: aliceblue;
    color: black;
}

footer {
    background-color: lightskyblue;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

#mobile {
    display: inline;
}

img {
    width: 90%;
}
